.App {
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-direction: column;
}

.warning-messages{
  height:300px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-direction: column;

}

.width-height{
  width : 500px;
  height : 200px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.img-height{
  height: 450px;
}